{% extends 'base.html.twig' %}

{% block title %}Bonne enquête !{% endblock %}

{% block body %}

<div class="w-full h-full">
    {% include './component/timer.html.twig' %}
    {% include './component/dashboard.html.twig' %}
    
</div>




{% endblock %}
