{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}
{% block stylesheets %}     
    {{ encore_entry_link_tags('app') }}   
{% endblock %}

{% block body %}

<div class="matrix-rain" id="matrixRain"></div>
{% include './component/timer.html.twig' %}

<div class="flex justify-center items-center flex-col w-dvw h-dvh bg-black gap-12" x-data="{ open: false }">
    <h1 class="text-5xl font-bold h-auto text-white text-center transition-all duration-1000 z-50" :class="open ? 'translate-y-[-275px]' : 'translate-y-0'">      
        <span class="text-[#20E820] block">Bienvenue boss,</span> comment allez-vous aujourd'hui ?    
    </h1>
    <button class="btn z-50" @click="open = true" x-show="!open" x-transition.duration.500m>
        Commencer
    </button>


    <div class="matrix-card absolute z-50" 
        x-show="open" 
        x-transition.duration.2000ms 
        x-data="loginForm">
        <h2 class="text-2xl font-bold text-[#20E820] mb-4 text-center">Vous connectez</h2>

    <form class="flex flex-col items-center justify-between gap-4 w-full" @submit.prevent="submitForm">
        <input type="email" placeholder="Email" 
            class="matrix-input" 
            x-model="email" required>
        
        <input type="password" placeholder="Mot de passe" 
            class="matrix-input" 
            x-model="password" required>
        
        <button type="submit" class="btn mt-2">Se connecter à l'enquête</button>
        
        <p class="text-red-500 mt-2" x-text="error"></p>
    </form>
</div>

<div class="matrix-panel absolute p-8 w-auto transition-all duration-500 flex flex-col gap-8 z-50"
    :class="open ? 'left-0 bottom-0 translate-y-0' : 'left-[0%] bottom-0 translate-y-48'"
    x-transition x-transition.duration.500ms
    x-data="{ open: false }">

    <h1 class="matrix-title text-2xl">Vos code d'accès</h1>
    <div class="text-container">
        <p class="mail">
            admin_I4@matrix.org
        </p>
        <p class="password">
            4r@gtb7@ph$DFbB9
        </p>
    </div>

    <!-- Nouveau bouton toggle Matrix -->
    <button class="matrix-toggle absolute" @click="open = !open"
            :class="open ? 'open' : ''">
        <svg xmlns="http://www.w3.org/2000/svg" class="matrix-icon"
            viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M7 20.6621C4.01099 18.933 2 15.7013 2 11.9999C2 6.47703 6.47715 1.99988 12 1.99988C17.5228 1.99988 22 6.47703 22 11.9999C22 15.7013 19.989 18.933 17 20.6621M16 11.9999L12 7.99995M12 7.99995L8 11.9999M12 7.99995V21.9999" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</div>

</div>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% endblock %}
