<div class="w-full h-full flex items-center justify-center bg-black text-white text-3xl relative">
    <p class="absolute text-[#20E820] text-lg right-96 top-96"
        x-data="{ 
                visible: true, 
                showTime: 1000,   // durée visible (1s)
                hideTime: 3000,   // durée cachée (3s)
                toggle() {
                    this.visible = true;
                    setTimeout(() => {
                        this.visible = false;
                    }, this.showTime);
                }
            }"
        x-init="
                toggle();
                setInterval(() => { toggle() }, showTime + hideTime)
        "
        x-show="visible"
        x-transition>
            0
    </p>
    <span class="absolute w-8 h-4 rounded-full bg-red-500 rotate-[-45deg] top-24 left-96"></span>
</div>