<div class="w-full h-full flex items-center justify-center bg-black text-white text-3xl relative">
    <p>
        Le nombre de pillule rouge... et bleu....
    </p>
    <span class="absolute w-8 h-4 rounded-full bg-red-500 rotate-45 top-48 right-12"></span>
</div>