<div class="w-full h-full flex items-center justify-center bg-black text-white text-3xl relative">
    Le nombre de lettre dans le prénom du personnage principal.
     <span class="absolute w-8 h-4 rounded-full bg-blue-400 rotate-[-88deg] bottom-4 left-8"></span>
     <div class="absolute h-8 w-8 bg-green-500 rounded-full p-2 top-8 left-32 flex flex-col justify-center items-center">
        <span class="block w-4 h-[2px] bg-white rotate-45"></span>
        <span class="block w-4 h-[2px] bg-white rotate-[-45deg] bottom-[.5px] relative"></span>
    </div>
</div>