<div class="w-full h-full flex items-center justify-center bg-black text-white text-3xl relative">
    <p class="absolute text-[#20E820] text-lg left-96 bottom-8"
        x-data="{ 
                visible: true, 
                showTime: 1000,
                hideTime: 1000,
                toggle() {
                    this.visible = true;
                    setTimeout(() => {
                        this.visible = false;
                    }, this.showTime);
                }
            }"
        x-init="
                toggle();
                setInterval(() => { toggle() }, showTime + hideTime)
        "
        x-show="visible"
        x-transition>
            2
    </p>
    Ajoute 6, soustrait 7, multiplie par 2 le chiffre précédent......
</div>