<div class="w-full h-full flex items-center justify-center bg-black text-white text-3xl relative">
    <p class="absolute text-[#20E820] text-lg right-24 bottom-96"
        x-data="{ 
                visible: true, 
                showTime: 1000,
                hideTime: 4000,
                toggle() {
                    this.visible = true;
                    setTimeout(() => {
                        this.visible = false;
                    }, this.showTime);
                }
            }"
        x-init="
                toggle();
                setInterval(() => { toggle() }, showTime + hideTime)
        "
        x-show="visible"
        x-transition>
            6
    </p>
    <span class="absolute w-8 h-4 rounded-full bg-blue-400 rotate-[23deg] top-6 right-96"></span>
</div>