<div class="relative w-full h-full flex items-center justify-center bg-black text-white text-3xl">
    <p class="absolute text-[#20E820] text-lg top-8 right-42"
        x-data="{ 
                visible: true, 
                showTime: 1000,
                hideTime: 2000,
                toggle() {
                    this.visible = true;
                    setTimeout(() => {
                        this.visible = false;
                    }, this.showTime);
                }
            }"
        x-init="
                toggle();
                setInterval(() => { toggle() }, showTime + hideTime)
        "
        x-show="visible"
        x-transition>
            3
    </p>
    <p class="text-black hover:text-green-500 hover:cursor-default transition-all duration-500 absolute top-8 left-32">
        {{ innocents[0].name }} est clean
    </p>
</div>