<div class="w-full h-full flex justify-center items-center p-48 bg-black text-3xl relative">
    {% include 'secret/form.html.twig'%}
    <p class="text-white">Le nombre de lettre dans le prénom de la femme du trio..</p>
    <span class="absolute w-8 h-4 rounded-full bg-blue-400 rotate-[-98deg] top-96 left-48"></span>
    <div class="absolute h-8 w-8 bg-green-500 rounded-full p-2 top-8 left-32 flex flex-col justify-center items-center">
        <span class="block w-4 h-[2px] bg-white rotate-45"></span>
        <span class="block w-4 h-[2px] bg-white rotate-[-45deg] bottom-[.5px] relative"></span>
    </div>
</div>