<div class="w-full h-full flex items-center justify-center bg-black text-white text-3xl relative">
    <p class="absolute text-[#20E820] text-lg top-56 left-8"
        x-data="{ 
                visible: true, 
                showTime: 1000,
                hideTime: 5000,
                toggle() {
                    this.visible = true;
                    setTimeout(() => {
                        this.visible = false;
                    }, this.showTime);
                }
            }"
        x-init="
                toggle();
                setInterval(() => { toggle() }, showTime + hideTime)
        "
        x-show="visible"
        x-transition>
            9
    </p>
    <span class="absolute w-8 h-4 rounded-full bg-blue-400 rotate-[276deg] bottom-36 right-24"></span>
    <div class="absolute h-8 w-8 bg-green-500 rounded-full p-2 top-8 left-32 flex flex-col justify-center items-center">
        <span class="block w-4 h-[2px] bg-white rotate-45"></span>
        <span class="block w-4 h-[2px] bg-white rotate-[-45deg] bottom-[.5px] relative"></span>
    </div>
</div>