<div class="w-full h-full flex items-center justify-center bg-black text-white text-3xl relative">
    Le nombre de lettre dans le prénom du personnage principal.
     <span class="absolute w-8 h-4 rounded-full bg-blue-400 rotate-[-88deg] bottom-4 left-8"></span>
</div>