{% extends 'base.html.twig' %}

{% block title %}Matrix détruite{% endblock %}

{% block body %}

{% if victoireCheck == true %}    
    <div class="matrix-container">
        <h1 class="gameover-title">GAME OVER</h1>
        <p class="gameover-subtitle">Agent parasite repéré, formatage de l'agent terminé.</p>
        <a href="/" class="btn">
            Relancer une partie
        </a>
    </div>
{% else %}
    <div class="matrix-container">
        <h1 class="gameover-title">GAME OVER</h1>
        <p class="gameover-subtitle">L'agent parasite n'a pas était trouvé, la matrice est voué à disparaitre</p>
        <a href="/" class="btn">
            Réessayer
        </a>
    </div>
{% endif %}

{% endblock %}
