{% extends 'base.html.twig' %}

{% block title %}Matrix détruite{% endblock %}

{% block body %}
<div class="matrix-container">
    <h1 class="gameover-title">GAME OVER</h1>
    <p class="gameover-subtitle">Le système t'a repéré...</p>
    <a href="/" class="btn">
        Réessayer
    </a>
</div>
{% endblock %}
