<div class="absolute top-0 right-0 z-50">
    <div id="timer"
     x-data="timerComponent({{ endtime * 1000 }})" 
    x-init="start()"
    x-text="timeLeft"
    class="text-[#20E820] text-2xl font-bold bg-black border-2 border-[#20E820] rounded-bl-3xl px-4 py-3"></div>
</div>